# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env
.env.*
!.env.example

# ts files
*.tsbuildinfo

# project directories and files
node_modules
coverage
dist-ssr
dist
.vite
.temp
.cache
*.lock
*.local
package-lock.json

# editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store
*.njsproj
*.ntvs*
.idea
*.suo
*.sln
*.sw?

# linter and formatter files
.stylelintcache
.eslintcache

# OS garbage files
Thumbs.db
*.bak
