html {
  font-size: var(--font-size-base);
}

body {
  font-family: system-ui, sans-serif;
  font-size: var(--font-size-text);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-xxl);
}

p {
  text-wrap: pretty;
}
